
<h2><%= "Menu: #{@menu.name}" %></h2>

<div class='form-inline'>
  <%= text_field_tag :name, nil, placeholder: 'menu section', id: 'section-name', class: 'form-control input-small' %>
  <%= hidden_field_tag :restaurant, value = @restaurant.id %>
  <%= hidden_field_tag :menu, value = @menu.id %>
  <%= button_tag 'add section', id: 'add-section', class: 'btn btn-default' %>
</div>

<div id='sections'>
<% @menu.sections.each do |section| %>
  <div id='<%= section.id %>'>
    <h3 id='<%= section.id %>'>
      <a href='' class='modal-link' data='edit-section' id='<%= section.id %>' menu-id='<%= @menu.id %>' data-toggle="modal" data-target="#myModal"><%= section.name %></a><a href='' class='delete-section'><small> delete</small></a>
    </h3>
    <% section.menu_items.each do |item| %>
      <h5 id='<%= item.id %>'><a class='modal-link' href='' id='<%= item.id %>' data='item' data-toggle="modal" data-target="#myModal"><%= item.name %></a> <%= "($#{item.price})" %></h5>
    <% end %>
  </div>
<% end %>

<%= javascript_include_tag 'edit_menu' %>
<%= javascript_include_tag 'modal_render' %>
