<h2><%= @item %></h2>

<div class='stats'>
	<h4>Ordered in <%= @table_percent %>% of meals</h4>
	<h4>Accounts for <%= @item_percent %>% of ordered items</h4>
	<h4>Makes up <%= @rev_share %>% of total revenue</h4>
</div>

<div class='panel panel-default'>
	<div class='panel-heading' style='text-align:center;'><b>All Meals that Included <%= @item.name %></b></div>

	<%= render partial: "shared/meals_table" %>
</div>

<a class='modal-link' data='view-menu' id='<%= @menu.restaurant_id %>' menu-id='<%= @menu.id %>' data-toggle="modal" data-target="#myModal" href=''>View Menu</a>

<%= javascript_include_tag 'modal_render' %>
