<h1><%= @item %></h1>

<div class='stats'>
	<h4>Ordered in <%= @table_percent %>% of meals</h4>
	<h4>Accounts for <%= @item_percent %>% of ordered items</h4>
	<h4>Makes up <%= @rev_share %>% of total revenue</h4>
</div>

<div class='panel panel-default'>
	<div class='panel-heading' style='text-align:center;'><b>All Meals that Included <%= @item.name %></b></div>
	<table class='table table-hover table-condensed'>
		<thead>
			<tr>
				<th>Date</th>
				<th>Total Price</th>
				<th>Menu Items</th>
				<th>Duration</th>
				<th>Diners</th>
				<th>Table</th>
			</tr>
		</thead>
		<tbody>
			<% @meals.each do |meal| %>
				<tr>
					<td><%= meal.created_at.httpdate %></td>
					<td>$<%= meal.price %></td>
					<td>
						<% meal.menu_items.each do |item| %>
							<!-- <%= link_to item.name, menu_item_path(item.id) %> -->
							<a class='modal-link' href='' id='<%= item.id %>' data-toggle="modal" data-target="#myModal"><%= item.name %></a>
						<% end %>
					</td>
					<td><%= (meal.duration / 60.0).round(2) %> mins</td>
					<td><%= meal.diners %></td>
					<td><%= link_to meal.table.number, table_path(meal.table.id) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>