<% menu = @restaurant.menus.last %>
<nav class="navbar navbar-inverse" role="navigation" id='<%= @restaurant.id %>'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/restaurants/1/meals">Diner Stats</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href='<%= restaurant_path(@restaurant.id) %>'>Manage Tables</a></li>
        <li><a href='<%= restaurant_meals_path(@restaurant.id) %>'>View Stats</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Menu Actions <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a class='modal-link' data='view-menu' id='<%= @restaurant.id %>' menu-id='<%= menu.id %>' data-toggle="modal" data-target="#myModal" href=''>View Menu</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Table Actions <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a class='modal-link' data='new-table' id='<%= @restaurant.id %>' data-toggle="modal" data-target="#myModal" href=''>Add Table</a></li>
            <li><a class='modal-link' id='<%= @restaurant.id %>' data='tables' data-toggle="modal" data-target="#myModal" href=''>View All Tables</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<%= render 'shared/modal' %>
<%= javascript_include_tag 'modal_render' %>
