

<h2><%= @section.name %></h2>

<%= form_tag nil, class: 'form form-inline' do %>
  <%= hidden_field_tag :section_id, @section.id %>
  <%= text_field_tag :name, nil, placeholder: 'item name', id: 'item-name', class: 'form-control input-small' %>
  <%= text_field_tag :price, nil, placeholder: 'price', id: 'item-price', class: 'form-control input-small' %>
  <%= button_tag 'add item', class: 'btn btn-default add-item' %>
<% end %>

<div id='section-items'>
  <% @section.menu_items.each do |item| %>
    <h4 id='<%= item.id %>'><%= "#{item.name} ($#{item.price})" %> <a class='delete-item' href=''><small>remove</small></a></h4>
  <% end %>
</div>

<a class='modal-link' data='view-menu' id='<%= @menu.restaurant.id %>' menu-id='<%= @menu.id %>' data-toggle="modal" data-target="#myModal" href=''>Back to Menu</a>

<%= render partial: "shared/modal" %>
<%= javascript_include_tag 'modal_render' %>
<%= javascript_include_tag 'edit_menu' %>

