<h1>All Meals at <%= @restaurant.name %></h1>


<h3>Total Meals: <%= @meals.count %> </h3>
<h3>Total Revenue: $<%= @revenue %> </h3>
<h3>Total Customers: <%= @diners %> (<%= (@diners.to_f / @meals.count).round(1) %> customers/meal)</h3>

<h3>Average Duration: <%= @avg_duration %> minutes</h3>
<h3>Average Meal Price: $<%= @avg_price %></h3>	
<h3>Average Price/Customer: $<%= @avg_customer_price %></h3>	

<table border='1px'>
	<tr>
		<th>Date</th>
		<th>Diners</th>
		<th>Menu Items</th>
		<th>Price ($)</th>
		<th>Minutes</th>
		<th>Table ID</th>
	</tr>
	<% @meals.each do |meal| %>
		<tr>
			<td><%= meal.created_at.httpdate %></td>
			<td><%= meal.diners %></td>
			<td>
				<% meal.menu_items.each do |item| %>
					<%= link_to item.name, menu_item_path(item.id) %>
				<% end %>
			</td>
			<td><%= meal.price %></td>
			<td><%= (meal.duration / 60.0).round(2) %></td>
			<td><%= meal.table_id %></td>
		</tr>
	<% end %>
</table>

<h2><%= @menu.name %> Sections</h2>
<% @menu.sections.each do |section| %>
	<h3><%= section.name %></h3>
<% end %>


