<%= stylesheet_link_tag 'tables' %>
<%= render 'shared/header', object: @restaurant %>

<script type="text/javascript">
  $('.nav li:contains("View Stats")').addClass('active');
</script>

<h1 id='<%= @restaurant.id %>'><%= @restaurant.name %></h1>

<form action='<%= restaurant_meals_path(@restaurant.id) %>'>
	<% meal_dates = @restaurant.meals.map{|m| m.created_at.strftime("%b %d, %Y")}.uniq.sort %>
	<%= select_tag :time1, options_for_select(meal_dates), id: 'time1', class: 'date' %> 
	to <%= select_tag :time2, options_for_select(meal_dates), id: 'time2', class: 'date' %>
	<%= submit_tag 'find', class: 'btn btn-default btn-xs' %>
</form>

<div class='panel panel-default'>
	<div class='panel-heading' style='text-align:center;'><h4>Restaurant Stats <small><%= @timeframe %></small></h4></div>
	<table class='table'>
		<thead>
			<tr>
				<th><h4>Total Revenue</h4></th>
				<th><h4>Avg. Meal Cost</h4></th>
				<th><h4>Avg. Cost per Customer</h4></th>
				<th><h4>Avg. Meal Time</h4></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>$<%= @revenue %></td>
				<td>$<%= @avg_price %></td>
				<td>$<%= @avg_customer_price %></td>
				<td><%= @avg_duration %> mins</td>
			</tr>
		</tbody>
	</table>
</div>


<div class='panel panel-default'>
	<div class='panel-heading' style='text-align:center;'><h4>All Meals Served <small><%= @timeframe %></small></h4></div>

	<%= render partial: "shared/meals_table" %>
</div>

<h2>Revenue Breakdown Graph <small><%= @timeframe %></small></h2>

<form id='radio-form'>
	<input type="radio" name='mode' id='restaurant' data='<%= @restaurant.id %>' checked> Menu Items
	<input type="radio" name='mode' id='menu' data='<%= @menu.id %>'> Menu Sections
	<input type="radio" name='mode' id='tables' data='<%= @menu.id %>'> Tables
</form>

<input type="checkbox" id='box'> Sort

<%= javascript_include_tag 'modal_render' %>
<%= javascript_include_tag 'bar_graph' %>

