
<h1 id='<%= @restaurant.id %>'>All Meals at <%= link_to @restaurant.name, restaurant_path(@restaurant.id) %></h1>

<h3>Total Revenue: $<%= @revenue %> </h3>

<h3>Average Duration: <%= @avg_duration %> minutes</h3>
<h3>Average Meal Price: $<%= @avg_price %></h3>	
<h3>Average Price/Customer: $<%= @avg_customer_price %></h3>	

<table border='1px'>
	<tr>
		<th>Date</th>
		<th>Diners</th>
		<th>Menu Items</th>
		<th>Price ($)</th>
		<th>Minutes</th>
		<th>Table</th>
	</tr>
	<% @meals.each do |meal| %>
		<tr>
			<td><%= meal.created_at.httpdate %></td>
			<td><%= meal.diners %></td>
			<td>
				<% meal.menu_items.each do |item| %>
					<%= link_to item.name, menu_item_path(item.id) %>
				<% end %>
			</td>
			<td><%= meal.price %></td>
			<td><%= (meal.duration / 60.0).round(2) %></td>
			<td><%= meal.table.number %></td>
		</tr>
	<% end %>
</table>

<label><input type="checkbox" id='box'> Sort values</label>

<%= javascript_include_tag 'd3' %>
<%= javascript_include_tag 'bar_graph' %>



