<script type="text/javascript">
  $('.nav li:contains("View Stats")').addClass('active');
</script>

<%= render 'shared/header', object: @restaurant %>

<h1 id='<%= @restaurant.id %>'><%=  @restaurant.name %></h1>

<div class='panel panel-default'>
	<div class='panel-heading' style='text-align:center;'><b>Restaurant Stats</b></div>
	<table class='table'>
		<thead>
			<tr>
				<th><h4>Total Revenue</h4></th>
				<th><h4>Avg. Meal Cost</h4></th>
				<th><h4>Avg. Cost per Customer</h4></th>
				<th><h4>Avg. Meal Time</h4></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>$<%= @revenue %></td>
				<td>$<%= @avg_price %></td>
				<td>$<%= @avg_customer_price %></td>
				<td><%= @avg_duration %> mins</td>
			</tr>
		</tbody>
	</table>
</div>


<div class='panel panel-default'>
	<div class='panel-heading' style='text-align:center;'><b>All Meals Served</b></div>

	<%= render partial: "shared/meals_table" %>
</div>

<h2>Revenue Breakdown Graph</h2>

<form id='radio-form'>
	<input type="radio" name='mode' id='restaurant' data='<%= @restaurant.id %>' checked> Menu Items
	<input type="radio" name='mode' id='menu' data='<%= @menu.id %>'> Menu Sections
	<input type="radio" name='mode' id='tables' data='<%= @menu.id %>'> Tables
</form>

<input type="checkbox" id='box'> Sort

<%= render partial: "shared/modal" %>

<%= javascript_include_tag 'd3' %>
<%= javascript_include_tag 'modal_render' %>
<%= javascript_include_tag 'bar_graph' %>


