<h1>All Tables at <%= @restaurant.name %></h1>

<table border='1px'>
	<tr>
		<th>Num</th>
		<th>Seats</th>
		<th># Meals</th>
		<th>Price/Meal</th>
		<th>Price/Customer</th>
		<th>Avg. Meal Time</th>
	</tr>
	<% @tables.each do |table| %>
		<tr>
			<td><%= link_to table.number, table_path(table.id) %></td>
			<td><%= table.max_seats %></td>
			<td><%= table.meals.count %></td>
			<td>$<%= table.avg_price %></td>
			<td>$<%= table.avg_customer_price %></td>
			<td><%= table.avg_meal_time %> mins</td>
		</tr>
	<% end %>
</table>