<%= stylesheet_link_tag 'tables' %>

<h1 id='<%= @restaurant.id %>'><%= link_to @restaurant.name, restaurant_path(@restaurant) %> Tables</h1>

<% @tables.each do |table| %>
  <div class='table' id='<%= table.id %>'>
    <%= select_tag(:diners, options_for_select(Array(1..table.max_seats).reverse)) %>
    <%= button_tag 'seat', class: 'create-meal' %>
    <%= select_tag(
      :menu_item, 
      options_for_select(@restaurant.menu_items.map{|item| ["#{item.name} $#{item.price}", item.id]}))
    %>
    <%= button_tag 'add item', class: 'add-item' %>
    <%= button_tag 'end meal', class: 'end-meal' %>
    <h5>-</h5>
  </div>
<% end %>

<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<%= javascript_include_tag 'manage_tables' %>
