<h2>Table <%= "#{@table.number} (#{@table.max_seats} seats)" %></h2>

<div class='stats'>
	<h4>Avg. Diners per Meal: <%= @avg_seats %></h4>
	<h4>Avg. Meal Price: $<%= @avg_price %></h4>	
	<h4>Avg. Price per Customer: $<%= @avg_customer_price %></h4>
	<h4>Avg. Duration: <%= @avg_duration %> minutes</h4>	
</div>

<div class='panel panel-default'>
	<div class='panel-heading' style='text-align:center;'><b>All Meals at Table <%= @table.number %></b></div>

	<%= render partial: "shared/meals_table" %>
</div>

<%= render partial: "shared/modal" %>
<%= javascript_include_tag 'modal_render' %>