<%= render 'shared/header', object: @restaurant %>

<h1><%= @restaurant.name %></h1>
<h2><%= link_to "Stats", restaurant_meals_path(@restaurant.id) %>
<h2>Menu: <%= link_to @menu.name, edit_restaurant_menu_path(@restaurant, @menu) %></h2>

<% @menu.sections.each do |section| %>
  <h4><%= link_to section.name, edit_menu_section_path(@menu.id, section.id)%></h4>
<% end %>

<h2><%= link_to 'Tables', restaurant_tables_path(@restaurant.id) %> (<%= @restaurant.tables.count %>)</h2>


<h2><%= link_to 'Manage Tables', restaurant_tables_manage_path(@restaurant.id) %></h2>

<%= form_tag "/restaurants/#{@restaurant.id}/tables", method: 'post', class: 'form-inline' do %>
  seats <%= select_tag(:max_seats, options_for_select(Array(1..8))) %>
  <%= text_field_tag :number, nil, placeholder: 'table #', class: 'form-control input-small', style: 'width: 80px;' %>
  <%= submit_tag 'add table', class: 'btn btn-default' %>
<% end %>

